services:

  web:
    image: nginx:stable
    ports:
      - 80:80
    volumes:
      - ../app:/var/www/site
      - ./assets/site.conf:/etc/nginx/conf.d/site.conf
    depends_on:
      - php
      - db

  php:
    build:
      context: .
      dockerfile: Dockerfile_php
    volumes:
      - ../app:/var/www/site
      - ./assets/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db

  db:
    image: mariadb:11.4
    ports:
      - 3306:3306
    restart: always
    volumes:
      - sitebar-db-data:/var/lib/mysql
      - ./assets/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: qwerty

volumes:
  sitebar-db-data:
